body {
    padding-bottom:20px;
}

hr {
    margin-bottom:10px;
    margin-top:10px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background:none;
}

.btn-group {
    display:inline;
}

.navbar .brand {
    color:#fff;
}

.navbar-inner {
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.navbar .container {
    width:940px;
}

.navbar .nav li {
    margin-left:0;
    margin-right:0;
}

.loader-image {
    margin-top:10px;
    margin-right:20px;
}

.language-selector {
    margin-top:10px;
}

.language-selector > ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.language-selector > ul > li {
    display:block;
    float:left;
    margin-left:10px;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.language-selector > ul > li.active {
    opacity:1;
    filter:alpha(opacity=100);
}

.hidden-object {
    display:none;
}

.table > tbody > tr > th {
    border:0;
}

.project-list .deadline {
    width:80px;
}

.project-list .name .client {
    font-size:80%;
}

.project-list .name .client a {
    color:#909090;
}

.category-list .percent,
.category-list .stats,
.target-list .stats,
.target-list .percent,
.project-list .stats,
.project-list .percent {
    width:70px;
}

.category-list .stats,
.target-list .stats,
.project-list .stats {
    color:#909090;
}

#languages-tab a img {
    float:left;
    margin-top:3px;
    margin-right:10px;
}

.nav-pills > li {
    margin-right:10px;
}

.active-header {
    margin:0;
    padding:0;
    overflow:visible;
}

.active-header .nav-pills {
    margin:0 0 0 12px;
    padding:0;
}

.buttons {
    margin:0 0 0 8px;
}

.active-header .buttons {
    padding-top:3px;
}

.category-list .actions,
.check-list .actions,
.result-list .actions,
.solution-list .actions,
.input-list .actions,
.user-list .actions,
.target-list .actions,
.detail-list .actions,
.client-list .actions,
.project-list .actions,
.attachment-list .actions,
.reference-list .actions,
.effort-list .actions,
.risk-list .actions {
    width:30px;
    text-align:right;
}

fieldset hr {
    margin-top:0;
    padding-top:0;
}

.user-list .role {
    width:60px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.user-list .role span {
    vertical-align:top;
}

.info-block {
    background-color:#f0f0f0;
    margin:5px 0 15px 0;
    padding:10px 10px 10px 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border:1px solid #ddd;
}

.client-details td,
.client-details th {
    border:0;
}

.client-details th {
    width:60px;
    text-align:right;
    padding:2px 10px 2px 5px;
}

.client-details td {
    padding:2px 5px 2px 0px;
}

.client-details tbody tr:hover td,
.client-details tbody tr:hover th {
    background:none;
}

.client-details {
    padding:0;
    margin:0;
}

.project-detail {
    margin:0;
    border-top:1px solid #ddd;
    padding:10px 0 10px 0;
}

.project-detail.borderless {
    border-top:none;
    padding-top:0;
}

.project-detail .subject {
    font-weight:bold;
}

.detail-list .detail .content {
    font-size:80%;
    color:#909090;
}

h3 a {
    color:#333;
}

h3 a:hover {
    text-decoration:none;
    color:#333;
}

.project-list .status {
    width:70px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.project-list .status span {
    vertical-align:top;
}

table.check-header .status {
    width:70px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

div.control-header {
    border-top:1px solid #ddd;
    padding:8px;
}

div.control-header:first-child {
    border-top:none;
}

div.control-header-bold {
    padding:8px;
    font-weight:bold;
}

div.control-body {
    padding-left:20px;
    border-top:1px solid #ddd;
}

div.check-header {
    padding:0;
    border-top:1px solid #ddd;
}

div.check-header:first-child {
    border-top:none;
}

table.check-header {
    width:100%;
}

table.check-header td {
    padding:8px;
}

table.check-header .status span {
    vertical-align:top;
}

div.check-form {
    background-color:#f0f0f0;
    padding:10px;
    margin:0;
    border-top:1px dashed #ddd;
}

.check-form th {
    width:140px;
    text-align:right;
}

.check-form td {
    padding:4px 10px 4px 10px;
    border:none;
}

.check-form td.text {
    padding:8px 10px 8px 10px;
}

.check-form,
.check-form tbody tr:hover td,
.check-form tbody tr:hover th {
    background:none;
}

.check-form {
    padding:0;
    margin:0;
}

.max-width {
    width:98%;
}

.check-form textarea.result {
    font-family:monospace;
}

.check-form .results,
.check-form .solutions,
.check-form .rating {
    margin:0;
    padding:0;
    list-style:none;
}

.check-form .results li, .check-form .solutions li {
    border-top:1px solid #ddd;
    padding-top:10px;
}

.check-form .results li:first-child, .check-form .solutions li:first-child {
    border-top:none;
    padding-top:0;
}

.check-form .results li,
.check-form .solutions li,
.check-form .rating li {
    margin-bottom:10px;
}

.high-risk {
    color:#d63515;
}

.med-risk {
    color:#dace2f;
}

.low-risk {
    color:#53a254;
}

.label-high-risk, .label-admin {
    background-color:#d63515;
}

.label-med-risk {
    background-color:#dace2f;
}

.label-low-risk, .label-in-progress, .label-user {
    background-color:#53a254;
}

.label-finished {
    background-color:#000;
}

.label-info:hover, .label-client {
    background-color:#3a87ad;
}

.delete-row {
    background-color:#f2dede;
}

.file-input {
    position:relative;
    overflow:hidden;
    margin-bottom:10px;
}

.file-input input {
    position:absolute;
    top:0;
    right:0;
    margin:0;
    border:solid transparent;
    border-width:0 0 100px 200px;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-transform:translate(-300px, 0) scale(4);
    direction:ltr;
    cursor:pointer;
}

.attachment-list .name {
    padding-left:0;
}

.attachment-list td {
    border-top:1px solid #ddd;
}

.upload-message {
    margin-bottom:10px;
}

table.check-header .actions {
    width:50px;
    text-align:right;
}

.disabled {
    opacity:0.5;
    filter:alpha(opacity=50);
}

.report-target-list {
    list-style:none;
    padding-left:0;
    margin-left:0;
}

.in-progress {
    background-color: #f4f4ff;
}

.controls {
    padding-top:2px;
}

.form-text {
    padding-top:5px;
}

.effort-list .targets, .effort-list .effort {
    width:70px;
}

.modal-text, .form-description {
    margin-bottom:10px;
}

.risk-category-category-header, .risk-category-control-header {
    border-top:1px solid #ddd;
    padding:8px;
}

.risk-category-category-header-bold {
    padding:8px;
    font-weight:bold;
}

.risk-category-category-header {
    font-weight:normal;
}

.risk-category-category-content {
    padding-left:20px;
    border-top:1px solid #ddd;
}

.risk-category-control-header:first-child {
    border-top:none;
}

.risk-category-control-content {
    padding-left:20px;
    border-top:1px solid #ddd;
}

div.risk-category-check-header {
    padding:8px;
    margin:0;
    border-top:1px solid #ddd;
}

div.risk-category-check-header:first-child {
    border-top:none;
}

div.risk-category-check-content {
    background-color:#f0f0f0;
    padding:8px;
    margin:0;
    border-top:1px dashed #ddd;
}

textarea.wysiwyg {
    width:530px;
    height:200px;
}