body {
    padding-bottom:20px;
}

hr {
    margin-bottom:10px;
    margin-top:10px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background:none;
}

.navbar .brand {
    color:#fff;
}

.navbar-inner {
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}

.navbar .container {
    width:940px;
}

.navbar .nav li {
    margin-left:0;
    margin-right:0;
}

.loader-image {
    margin-top:10px;
    margin-right:20px;
}

.language-selector {
    margin-top:10px;
}

.language-selector > ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

.language-selector > ul > li {
    display:block;
    float:left;
    margin-left:10px;
    opacity:0.5;
    filter:alpha(opacity=50);
}

.language-selector > ul > li.active {
    opacity:1;
    filter:alpha(opacity=100);
}

.table > tbody > tr > th {
    border:0;
}

.project-list .deadline {
    width:80px;
}

.project-list .name .client {
    font-size:80%;
}

.project-list .name .client a {
    color:#909090;
}

.category-list .percent,
.category-list .stats,
.target-list .stats,
.control-header .stats,
.control-header .percent,
.target-list .percent,
.project-list .stats,
.project-list .percent {
    width:70px;
}

.category-list td.stats,
.target-list td.stats,
.project-list td.stats,
.control-header td.stats {
    color:#909090;
}

#languages-tab a img {
    float:left;
    margin-top:3px;
    margin-right:10px;
}

.nav-pills > li {
    margin-right:10px;
}

.active-header {
    margin:0;
    padding:0;
    overflow:hidden;
}

.active-header .nav-pills {
    margin:0 0 0 12px;
    padding:0;
}

.buttons {
    margin:0 0 0 8px;
}

.active-header .buttons {
    padding-top:3px;
}

.category-list .actions,
.result-list .actions,
.solution-list .actions,
.input-list .actions,
.user-list .actions,
.target-list .actions,
.detail-list .actions,
.client-list .actions,
.project-list .actions,
.attachment-list .actions,
.reference-list .actions,
.effort-list .actions,
.risk-list .actions,
.risk-template-list .actions,
.summary-list .actions,
.section-list .actions {
    width:30px;
    text-align:right;
}

.check-list .actions {
    width:60px;
    text-align:right;
}

fieldset hr {
    margin-top:0;
    padding-top:0;
}

.user-list .role, table.session-monitor .role {
    width:60px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.user-list .role span, table.session-monitor .role span {
    vertical-align:top;
}

.info-block {
    background-color:#f0f0f0;
    margin:5px 0 15px 0;
    padding:10px 10px 10px 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border:1px solid #ddd;
}

.info-block hr {
    border-top:1px solid #ddd;
    border-bottom:none;
}

.client-details td,
.client-details th {
    border:0;
}

.client-details th {
    width:60px;
    text-align:right;
    padding:2px 10px 2px 5px;
}

.client-details td {
    padding:2px 5px 2px 0px;
}

.client-details tbody tr:hover td,
.client-details tbody tr:hover th {
    background:none;
}

.client-details {
    padding:0;
    margin:0;
}

.project-detail {
    margin:0;
    border-top:1px solid #ddd;
    padding:10px 0 10px 0;
}

.project-detail.borderless {
    border-top:none;
    padding-top:0;
}

.project-detail .subject {
    font-weight:bold;
}

.project-detail .content {
    width:270px;
    word-wrap:break-word;
}

.detail-list .detail .content {
    font-size:80%;
    color:#909090;
}

h3 a {
    color:#333;
}

h3 a:hover {
    text-decoration:none;
    color:#333;
}

.project-list .status {
    width:70px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.project-list .status span,
.vulnerability-list .status span,
.vulnerability-list .rating span {
    vertical-align:top;
}

table.check-header .status, table.process-monitor .status {
    width:70px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

table.process-monitor .user {
    width:150px;
    text-align:left;
    vertical-align:top;
}

div.control-header {
    border-top:1px solid #ddd;
}

div.control-header:first-child {
    border-top:none;
}

div.control-body {
    padding-left:20px;
    border-top:1px solid #ddd;
}

div.check-header, div.process-monitor, div.session-monitor {
    padding:0;
    border-top:1px solid #ddd;
}

div.check-header:first-child, div.process-monitor:first-child, div.session-monitor:first-child {
    border-top:none;
}

table.check-header, table.process-monitor, table.session-monitor {
    width:100%;
}

table.check-header td, table.process-monitor td, table.session-monitor td {
    padding:8px;
}

table.check-header .status span {
    vertical-align:top;
}

div.check-form {
    background-color:#f0f0f0;
    padding:10px;
    margin:0;
    border-top:1px dashed #ddd;
}

table.check-form > tbody > tr > th {
    width:140px;
    text-align:right;
}

table.check-form > tbody > tr > td {
    padding:4px 10px 4px 10px;
    border:none;
}

.check-form td.text {
    padding:8px 10px 8px 10px;
}

.check-form td.text .limiter,
.solution-content,
.result-content {
    word-wrap:break-word;
    width:400px;
}

.check-form,
.check-form tbody tr:hover td,
.check-form tbody tr:hover th {
    background:none;
}

.check-form {
    padding:0;
    margin:0;
}

.max-width {
    width:98%;
}

.check-form textarea.result {
    font-family:monospace;
}

.check-form .results,
.check-form .solutions,
.check-form .rating,
.check-form .radio-input {
    margin:0;
    padding:0;
    list-style:none;
}

.check-form .results li, .check-form .solutions > li {
    border-top:1px solid #ddd;
    padding-top:10px;
}

.check-form .results li:first-child, .check-form .solutions > li:first-child {
    border-top:none;
    padding-top:0;
}

.check-form .results li,
.check-form .solutions > li,
.check-form .rating li,
.check-form .radio-input li {
    margin-bottom:10px;
}

.high-risk {
    color:#d63515;
}

.med-risk {
    color:#dace2f;
}

.low-risk {
    color:#53a254;
}

.label-target-category {
    background-color:#f0f0f0;
    color:#aaa;
    font-weight:normal;
    text-shadow:none;
    border:1px solid #ddd;
    margin-top:5px;
    margin-right:5px;
    display:block;
    float:left;
}

.label-high-risk, .label-admin {
    background-color:#d63515;
}

.label-med-risk {
    background-color:#dace2f;
}

.label-low-risk, .label-in-progress, .label-user {
    background-color:#53a254;
}

.label-finished {
    background-color:#000;
}

.label-info:hover, .label-client {
    background-color:#3a87ad;
}

.delete-row {
    background-color:#f2dede;
}

.file-input {
    position:relative;
    overflow:hidden;
    margin-bottom:10px;
}

.file-input input {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    border:solid transparent;
    border-width:0 0 100px 200px;
    opacity:0;
    filter:alpha(opacity=0);
    -moz-transform:translate(-300px, 0) scale(4);
    direction:ltr;
    cursor:pointer;
}

.attachment-list .name {
    padding-left:0;
}

.attachment-list td {
    border-top:1px solid #ddd;
    padding-top:10px;
    padding-bottom:10px;
}

.upload-message {
    margin-bottom:10px;
}

table.check-header .actions, table.process-monitor .actions {
    width:50px;
    text-align:right;
}

table.process-monitor .actions {
    vertical-align:top;
}

.disabled {
    opacity:0.5;
    filter:alpha(opacity=50);
}

.report-target-list {
    list-style:none;
    padding-left:0;
    margin-left:0;
}

.in-progress {
    background-color: #f4f4ff;
}

.controls {
    padding-top:2px;
}

.form-text {
    padding-top:5px;
}

.effort-list .targets, .effort-list .effort {
    width:70px;
}

.modal-text, .form-description {
    margin-bottom:10px;
}

.risk-category-category-header, .risk-category-control-header {
    border-top:1px solid #ddd;
    padding:8px;
}

.risk-category-category-header-bold {
    padding:8px;
    font-weight:bold;
}

.risk-category-category-header {
    font-weight:normal;
}

.risk-category-category-content {
    padding-left:20px;
    border-top:1px solid #ddd;
}

.risk-category-control-header:first-child {
    border-top:none;
}

.risk-category-control-content {
    padding-left:20px;
    border-top:1px solid #ddd;
}

div.risk-category-check-header {
    padding:8px;
    margin:0;
    border-top:1px solid #ddd;
}

div.risk-category-check-header:first-child {
    border-top:none;
}



div.risk-category-check-content {
    background-color:#f0f0f0;
    padding:8px;
    margin:0;
    border-top:1px dashed #ddd;
}

textarea.wysiwyg {
    width:530px;
    height:200px;
}

.span8 textarea.wysiwyg {
    width:450px;
    height:200px;
}

.solution-control, .result-control {
    float:right;
}

.expand-collapse-icon {
    padding-top:5px;
}

.header-detail {
    color:#ddd;
    font-weight:normal;
}

.check-count {
    width:50px;
}

.search-form {
    margin-right:10px;
}

.buttons > .search-form {
    margin-right:2px;
}

input[type="text"].search-query {
    color:#c0c0c0;
}

input[type="text"].search-query:focus {
    color:#333;
}

.report-target-header {
    border-top:1px solid #ddd;
    padding:8px;
    font-weight:bold;
}

.report-target-header:first-child {
    border-top:none;
}

.report-target-content {
    padding-left:20px;
    border-top:1px solid #ddd;
}

div.report-check-header {
    padding:0;
    margin:0;
    border-top:1px solid #ddd;
}

div.report-check-header:first-child {
    border-top:none;
}

table.report-check {
    width:100%;
}

table.report-check td {
    padding:8px;
}

table.report-check .status span {
    vertical-align:top;
}

table.report-check .status {
    width:70px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.report-target-header a {
    color:#333;
    text-decoration:none;
}

div.report-check-content {
    background-color:#f0f0f0;
    padding:10px;
    margin:0;
    border-top:1px dashed #ddd;
}

.report-risk-category-name {
    font-weight:bold;
}

.vulnerability-list .assigned {
    width:120px;
}

.vulnerability-list .rating,
.vulnerability-list .status {
    width:50px;
    text-align:right;
    padding-top:10px;
    white-space:nowrap;
}

.vulnerability-list .check .description,
.vulnerability-list .assigned .description {
    font-size:80%;
    color:#909090;
}

.vulnerability-list .check .description a {
    color:#909090;
}

.vulnerability-list .check .description span {
    color:#606060;
    font-size:80%;
    margin-left:7px;
    margin-right:7px;
}

.target-list .target .description, .process-monitor .name .description {
    color:#909090;
}

.target-list .target .categories a {
    text-decoration:none;
}

table.control-header, table.process-monitor, table.session-monitor {
    padding-bottom:0;
    margin-bottom:0;
    width:100%;
}

table.control-header td {
    border:none;
}

.header-image, .logo-image {
    margin-bottom:10px;
}

.summary-list .range {
    width:70px;
}

.login-logo {
    float:left;
    margin:20px 30px 0 0;

}

.login-block {
    overflow:hidden;
    padding:0px 30px 20px 30px;
    margin:20px 0 30px 0;
    border-left:1px dashed #ddd;
}

.login-history .time {
    width:150px;
}

.input-list .type {
    width:100px;
}

table.table-result th {
    text-align:left;
    padding:10px 0 10px 0;
}

table.table-result td {
    border-top:1px solid #ddd;
    padding:10px 0 10px 0;
}